spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/mydb
    driver-class-name: org.mariadb.jdbc.Driver
    username: myadmin
    password: 1111
  jpa:
    open-in-view: false
    generate-ddl: true
    hibernate:
      ddl-auto: create
      format_sql: true #To beautify or pretty print the SQL
      show_sql: true #show sql
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace #show parameter binding


#spring:
#  datesource:
#    url: jdbc:h2:tcp://localhost/~/jpashop;
#    username: sa
#    password:
#    driver-class-name: org.h2.Driver
#
#  jpa:
#    hibernate:
#      ddl-auto: create      # application 실행 시점에 지우고 다시 생성하고
#    properties:
#      hibernate:
##       show_sql: true      # System.out.println을 통한 출력 실무에서는 사용X
#        format_sql: true
#
#logging:
#  level:
#    org.hibernate.SQL: debug
#    org.hibernate.type: trace


